.screen5-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 254, 222);
    border-top: 5px solid black;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: auto;
}

.meeting-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-self: center;
    gap: 0rem;
    margin: auto;
    width: 100%;
}



.meeting-grid p{
    font-size: 2rem;
    font-size: "Baloo 2", cursive;;
}

.meeting-location{
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: "Baloo 2", cursive;
    font-size: 3rem;
}


@media screen and (max-width: 1000px){
    .meeting-grid p{
        font-size: 1.5rem;
    }

    .meeting-location{
        font-size: 2rem;
    }

}

@media screen and (max-width: 640px){
    .meeting-grid p{
        font-size: 0.8rem;
    }

    .meeting-location{
        font-size: 1rem;
    }

}