.screen5-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 252, 232);
    border-top: 5px solid black;
    display: grid;
    justify-items: center;
}

.meeting-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-self: center;
    gap: 0rem;
}



.meeting-grid p{
    font-size: 2rem;
}

.meeting-location{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 10rem;
    font-size: 3rem;
}


@media screen and (max-width: 1000px){
    .meeting-grid p{
        font-size: 1.5rem;
    }

    .meeting-location{
        font-size: 2rem;
    }

}

@media screen and (max-width: 640px){
    .meeting-grid p{
        font-size: 1rem;
    }

    .meeting-location{
        font-size: 1.5rem;
    }

}